<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h2>Edit Info for Workouts: <%=workout.name%></h2>
  
        <form action="/workouts/<%= workout.id %>?_method=PUT" method="POST">
          <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= workout.name %>">
          </div>
      
          <div>
            <label for="date">Date</label>
            <textarea type="textarea" name="date"><%= workout.date %></textarea>
          </div>
      
          <input type="submit">
        </form>
      </main>
</body>
</html>