<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <%- include('../partials/navbar') %>
  <%- include('../partials/footer') %>
  <%- include('../partials/style') %>
  
  <title>Fitness Tracker</title>
</head>
<div class="container">
    <body>
        <main>
        <br>
        <h2>Edit Info For Runs: <%= run.name %></h2>
        <br>
            <form action="/runs/<%= run._id %>" method="POST">
                <div>
                    <label for="route">Route</label>
                    <input type="text" name="route"value="<%= run.route %>" class="form-control" placeholder="Route Name">
                </div>
                <div>
                    <label for="distance">Distance</label>
                    <input type="text" name="distance"value="<%= run.distance %>" class="form-control" placeholder="Miles">
                </div>
                <div>
                    <label for="time">Time</label>
                    <input type="text" name="time"value="<%= run.time %>" class="form-control" placeholder="Minutes">
                </div>

                <button type="submit" value="update run" class="btn btn-primary">Save</button>
            </form>
        </main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</div>
</html>