<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/navbar') %>
    <title>Fitness Tracker</title>
</head>
<body>
    <h2>Edit Info For Lifts: <%= lift.name %></h2>

    <form action="/lifts/<%= lift._id %>" method="POST">
    
    
    <div>
        <label for="muscle_group">Muscle-Group</label>
        <input type="text" name="muscle_group"value="<%= lift.muscle_group %>">
    </div>
    <div>
        <label for="exercise">Exercise</label>
        <input type="text" name="exercise"value="<%= lift.exercise %>">
    </div>
    <div>
        <label for="weight">Weight</label>
        <input type="text" name="weight"value="<%= lift.weight %>">
    </div>
    <div>
        <label for="sets">Sets</label>
        <input type="text" name="sets"value="<%= lift.sets %>">
    </div>
    
    <input type="submit">
    </form>

</body>
</html>