<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <%- include('../partials/navbar') %>
  <%- include('../partials/footer') %>
  <%- include('../partials/style') %>
  
  <title>Fitness Tracker</title>
</head>
<div class="container">
  <body>
    <main>
      <br>
      <h2><%= lift.muscle_group %></h2>
      <br>
      <p>Exercise: <%= lift.exercise %></p>
      <p>Weight: <%= lift.weight %></p>
      <p>Sets: <%= lift.sets %></p>
      <section>

        <!-- <form action="/lifts/<%= lift.id %>/edit" method="GET">
          <div class="form-group">
            <button type="submit" value="Edit" class="btn btn-primary">Edit</button>
          </div>
        </form> -->

        <form action="/lifts/<%= lift.id %>?_method=DELETE" method="POST">
          <div class="form-group">
            <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
          </div>
        </form>
      
      </section>
    </main>
  </body>
</div>
</html>