<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/navbar') %>
    <title>Fitness Tracker</title>
</head>
<body>
    <h2>Edit Info For Bikes: <%= bike.name %></h2>

    <form action="/bikes/<%= bike._id %>" method="POST">
    
    
    <div>
        <label for="route">Route</label>
        <input type="text" name="route"value="<%= bike.route %>">
    </div>
    <div>
        <label for="distance">Distance</label>
        <input type="text" name="distance"value="<%= bike.distance %>">
    </div>
    <div>
        <label for="time">Time</label>
        <input type="text" name="time"value="<%= bike.time %>">
    </div>
    
    <input type="submit">
    </form>

</body>
</html>