<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <h2>All Bikes</h2>
        <ul>
            <% allBikes.forEach((bike, index) => { %>
                <li>
                    <a href="/bikes/<%= bike.id %>">
                    <h2>Route: <%= bike.route %></h2>
                    </a>
                    <p>Miles: <%= bike.distance %></p>
                    <p>Minutes: <%= bike.time %></p>
                </li>
            <% }) %>
         </ul>
    </main>
</body>
</html>