<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
</head>
<body>
    <% include('../partials/header') %>

    <main>
        <h2>Add New Run</h2>
        <form action="/bikes" method="POST">
        
            <select name="workouts">
                <% workouts.forEach((workout) => { %>
                <option value="<%= workout.id %>"><%= workout.name %></option>

            <% }); %> 
            </select> 
            <!--   added from edit...  -->
            <div>
                <label for="route">Route</label>
                <input type="text" name="route"value="<%= bike.route %>">
            </div>
            <div>
                <label for="distance">Distance</label>
                <input type="text" name="distance"value="<%= bike.distance %>">
            </div>
            <div>
                <label for="time">Time</label>
                <input type="text" name="time"value="<%= bike.time %>">
            </div>
            <!--  above from edit  -->
            <select name="bike" id="bike">
                <% bike.forEach((bike) => { %> */
                <option value="<%= bike.id %>"><%= bike.name %></option>
                <%  }); %> 
            </select>
        </form>

    </main>
    
</body>
</html>