<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/navbar') %>
    <title>Fitness Tracker</title>
</head>
<body>
    
    <h2><%= bike.route %></h2>
    <p>Miles: <%= bike.distance %></p>
    <p>Minutes: <%= bike.time %></p>
    
    <form action="/bikes/<%= bike.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>
      
      <form action="/bikes/<%= bike.id %>/edit" method="GET">
        <input type="submit" value="Update">
      </form>
</body>
</html>